.body{
  height: 600px;
  width: 400px;
  border: 3px solid black;
  display: flex;
  background-color: rgb(160, 157, 157);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.row0{
  height: 150px;
  width: 360px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.outputDisplay{
 background-color: rgb(255, 255, 255);
  /* direction: rtl; */
  font-size: 50px;
  width: 340px;
  height: 100px;
  border-radius: 20px;
}
.inputDisplay{
  background-color: rgb(255, 255, 255);
  /* direction: rtl; */
  font-size: 30px;
  width: 340px;
  height: 50px;
  border-radius: 20px;
}
.row1{
  height: 70px;
  width: 360px;
  border: 3 px solid red;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row2{
  height: 70px;
  width: 360px;
  border: 3 px solid red;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row3{
  height: 70px;
  width: 360px;
  border: 3 px solid red;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row4{
  height: 70px;
  width: 360px;
  border: 3 px solid red;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row5{
  height: 70px;
  width: 360px;
  border: 3 px solid red;
  /* background-color: white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.normalBtn{
  width: 60px;
  height: 60px;
  font-size: 54px;
  text-align: center;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.fncBtn{
  width: 60px;
  height: 60px;
  font-size: 54px;
  text-align: center;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.decBtn{
  width: 60px;
  height: 60px;
  font-size: 54px;
  text-align: center;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.clrBtn{
  background-color: rgb(248, 153, 153);
  width: 160px;
  height: 60px;
  font-size: 35px;
  text-align: center;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.dltBtn{
  background-color: rgb(156, 187, 245);
  width: 160px;
  height: 60px;
  font-size: 35px;
  text-align: center;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.equalBtn{
  width: 60px;
  height: 60px;
  font-size: 54px;
  text-align: center;
  padding: 0px;
  border: 2px solid black;
  border-radius: 5px;
}